<h1>Recipes for <%= @search_param %></h1>

<table border="1">
  <tr>
  	<th>Image</th>
  	<th>Title</th>
  	<th>Social rank</th>
  </tr>
  <% @recipes.each do |recipe| %>
    <tr class=<%= cycle('even', 'odd') %>>
      <td>
        <a href=<%= recipe["source_url"] %>>
          <%= image_tag(recipe["image_url"], :style => "width: 100px; height: 100px") %>
        </a>
      </td>
      <td><a href=<%= recipe["source_url"] %>><%= sanitize recipe["title"] %></a></td>
      <td><%=recipe["social_rank"] %></td>
    </tr>
  <% end %>
</table>